<div class="container">
    <h3 class="text-uppercase text-center mb-3">danh sách đánh giá</h3>
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Tất cả đánh giá</option>
                    <option value="1">1 sao</option>
                    <option value="2">2 sao</option>
                    <option value="3">3 sao</option>
                    <option value="4">4 sao</option>
                    <option value="5">
                        5 sao
                    </option>
                </select>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Tất cả trạng thái</option>
                    <option value="1">Công bố</option>
                    <option value="2">Không công bố</option>
                </select>
            </div>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-2">Họ và tên</th>
                <th scope="col" class="col-4">Nội dung</th>
                <th scope="col">Khóa học</th>
                <th scope="col">Đánh giá</th>
                <th scope="col" class="col-1">Ngày tạo</th>
                <th scope="col">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet laudantium laboriosam sapiente?
                    Obcaecati possimus ratione ad! Perspiciatis molestias recusandae suscipit, aut cum architecto
                    obcaecati amet ex quis, ea necessitatibus perferendis!</td>
                <td>lập trình react</td>
                <td>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                </td>
                <td>21/11/2024</td>
                <td>
                    <select data-mdb-select-init>
                        <option value="1" disabled>Trạng thái</option>
                        <option value="2">Công bố</option>
                        <option value="3">Không công bố</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Larry the Bird</td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet laudantium laboriosam sapiente?
                    Obcaecati possimus ratione ad! Perspiciatis molestias recusandae suscipit, aut cum architecto
                    obcaecati amet ex quis, ea necessitatibus perferendis!</td>
                <td>lập trình react</td>
                <td>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                </td>
                <td>22/11/2024</td>
                <td>Không công bố</td>
        </tbody>
    </table>
</div>